#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-image {
  background-image: url('https://previews.123rf.com/images/vitaliyvill/vitaliyvill1702/vitaliyvill170200107/74088770-fondo-de-juego-de-ciudad-2d-aplicaci%C3%B3n-de-juego.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}